		<!-- HEADER PART START-->
		<div id="header" class="style-1">
			<div class="container">
				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand" href="#">
						<img src="assets/img/logo.png" alt="">
						<!-- <h3>Keus.</h3> -->
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icofont icofont-navigation-menu"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link nav-menu" href="{{ site.url }}/index.html">ACCUEIL</a>
							</li>

							<li class="nav-item">
								<a class="nav-link nav-menu" href="{{ site.url }}/about">À PROPOS</a>
							</li>

							<li class="nav-item">
								<a class="nav-link nav-menu" href="{{ site.url }}/contact">CONTACT</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- HEADER PART END-->