                          <!-- /START SOCIAL ICONS -->
                          <div class="col-md-12">
                            <div class="text-center">
                                <ul class="list-inline social-icons social-icons-body">
                                    <li><a href="#" target="_blank" class=""><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li><a href="#" target="_blank" class=""><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li><a href="#" target="_blank" class=""><i class="icofont icofont-social-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank" class=""><i class="icofont icofont-social-pinterest"></i></a></li>
                                    <li><a href="#" target="_blank" class=""><i class="icofont icofont-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /END SOCIAL ICONS -->